@use '../abstracts/variables';

body {
  background-image: none;
  background-color: variables.$secondary-color;
}

main {
  color: variables.$white;
}
// header {
//   background-color: $white;
// }

// .layout-container {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
// }